
#page
{
    display:none;
    /*display: flex;*/
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 92.55%;
    width: 100%;
}
.sidebar
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 250px;
    background-color: lightgray;
    height: 100%;
    


}
.sidebutton
{
    border-width: 2px;
    width: 250px;
    height: 75px;
    font-size: larger;
}
#maincontent
{
    width: 67%;
    height: 100%;
    overflow:auto;
    padding:20px;
}
#rightcontent
{
    background-color: lightgray;
    width: 200px;
    height: 100%
}
#shoppingListCont
{
    display:block;
}
#studentOrdersCont
{
    display:none;
}
#editOrdersCont
{
    display:none;
}
#addOrderCont
{
    display:none;
}
#editIListsCont
{
    display:none;
}
    #addIngListBox
    {
        margin-bottom:0px;
        display:flex;
    }

#editIngredientsCont
{
    display:none;
}

.enterBox
{
    border-style:solid;
    border-color: black;
    margin:10px;
    padding: 10px;
    width: min-content;
    height: min-content;

}
div.cflex
{
	display:flex;
	flex-direction:column;
}
div.rflex
{
	display:flex;
	flex-direction:row;
}
div.flexcenter
{
	align-items: center;
    	justify-content: center;
}
td,th
{
	border-style:solid;
	border-width:2px;
	border-color:black;
}
table
{
	border-collapse:collapse;
}
.delicon
{
    width: 20px;
    height:20px;
}
.deltable
{
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.ingListContainer
{
    padding: 10px;
    margin: 10px;
    border: 2px;
    border-style: dashed;
    border-color: black;
}

.noborder
{
    border-style: none;
}