// sass --watch ./src/admin.scss ./public/admin/admin.css

@import "components/sidebar";

html, body{
    padding: 0;
    margin: 0;
}

#page
{
    display:none;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    height: 92.55%;
    width: 100%;
}

#page{
    transition: margin-left .5s;
    padding: 1.5rem;
}

#studentOrdersCont{
    display:none;
}

#editOrdersCont{
    display:none;
}

#addOrderCont{
    display:none;
}

#editIListsCont{
    display:none;
}

#addIngListBox{
    margin-bottom:0px;
    display:flex;
}

#editIngredientsCont{
    display:none;
}

.enterBox{
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 2rem;
    width: min-content;
    height: min-content;
}

td,th{
	border-style:solid;
	border-width:2px;
	border-color:black;
}

table{
	border-collapse:collapse;
}

.delicon{
    width: 2rem;
    height: 2rem;
}

.deltable{
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.ingListContainer{
    padding: 10px;
    margin: 10px;
    border: 2px;
    border-style: dashed;
    border-color: black;
}

.noborder{
    border-style: none;
}

#buffer{
    background-color: #f1f1f1;
    margin-top: 0rem;
}

.moveright{
    margin-left: 18rem;
}

#shoppingList{
    th, td{
        border: 1px solid black;
        padding: 0.4rem 1rem;
    }
}

#ingredientTable{
    th, td{
        border: 1px solid black;
        padding: 0.4rem 1rem; 
    }
}